{% extends "mimesis/base.html" %}

{% load thumbnail %}
{% load pagination_tags %}
{% load uni_form_tags %}

{% block body %}
    <h1>Photos in {{ album.name }}</h1>
    
    {% autopaginate photos %}

    {% for photo in photos %}
        <div class="photo">
            <a href="{% url mimesis_photo photo.id %}">
                <img src="{% thumbnail photo.photo.name 256x256 crop %}" 
                     alt="{{ photo.name }}">
            </a>
        </div>
    {% endfor %}

    <br style="clear: both;"/>

    {% paginate %}

    <br style="clear: both;"/>

    <h2>Upload Photo to {{ album.name }}</h2>

    {% if MIMESIS_USE_FLASH_UPLOAD %}
        <div id="uploadify" class="multi-file-upload">
            <input id="fileInput" name="fileInput" type="file" />
        </div>
    {% else %}
        <form action="{% url mimesis_upload_start_album_url album.id %}"
              method="POST"
              accept-charset="utf-8"
              enctype="multipart/form-data">
            
            {% csrf_token %}
            
            <input id="Filedata" name="Filedata" type="file" /><br />
            <input id="Filedata2" name="Filedata2" type="file" /><br />
            <input id="Filedata3" name="Filedata3" type="file" /><br />
            <input id="Filedata4" name="Filedata4" type="file" /><br />
    
            <p>
                <input type="submit" value="Upload">
            </p>
        </form>
    {% endif %}

{% endblock %}



{% block extra_body %}
    {{ block.super }}
    
    {% if MIMESIS_USE_FLASH_UPLOAD %}
        <script type="text/javascript"
                src="{{ STATIC_URL }}js/uploadify/swfobject.js"></script>
        <script type="text/javascript"
                src="{{ STATIC_URL }}js/uploadify/jquery.uploadify.js"></script>

        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                $('#fileInput').uploadify({
                    'uploader'  : '{{ STATIC_URL }}js/uploadify/uploadify.swf',
                    'script'    : '{% url mimesis_upload_start_album_url album.id %}',
                    'scriptData': {'session_key': '{{ request.session.session_key }}'},
                    'cancelImg' : '{{ STATIC_URL }}js/uploadify/cancel.png',
                    'auto'      : true,
                    'folder'    : '{{ STATIC_URL }}uploads/',
                    'multi'     : true,
                    'onAllComplete' : allComplete
                });
            });

            function allComplete(event, data) {
                $('#uploadify').load('{% url mimesis_upload_complete_url %}', {
                    'filesUploaded': data.filesUploaded,
                    'errorCount': data.errors,
                    'allBytesLoaded': data.allBytesLoaded,
                    'speed': data.speed
                });
                // Raise custom event
                $('#uploadify').trigger('allUploadsComplete', data);
            }

        </script>
    {% endif %}
{% endblock %}