{% extends "mimesis/base.html" %}

{% load thumbnail %}
{% load pagination_tags %}
{% load uni_form_tags %}

{% block body %}
    <h1>Albums</h1>

    {% autopaginate albums %}

    {% for album in albums %}
        <div class="album">
            <a href="{% url mimesis_album album.id %}">
                {% if album.key_photo %}
                    <img src="{% thumbnail album.key_photo.photo.name 176x176 crop %}"
                         alt="{{  album.key_photo.name }}">
                {% else %}
                    No photos in album
                {% endif %}
            </a>
        </div>
    {% endfor %}

    <br style="clear: both;"/>

    {% paginate %}
    
    <br style="clear: both;"/>

    <h2>New Album</h2>
    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form|as_uni_form }}
    
        <input type="submit" value="Submit">
    </form>
{% endblock %}