{% extends "site_base.html" %}

{% block extra_head %}{{ block.super }}

<style type="text/css" media="screen">
    div#body {width:960px;}
    div.photo {float:left; margin: 20px; width:320px;}
    div.new-upload {float:left; margin: 20px;}
    div.large-photo {text-align: center;}
    div.form {float:left;}
    div.form label {display:block;}
    div.form input[type=text] {width: 450px; padding:8px;font-size:14pt;}
    div.form textarea {width:450px;height:60px;padding:8px;font-size:12pt;}
    div.form div[id$=private] {float:right;width:75px;margin-left:50px;}
    div.form div[id$=album] {float:left;}
    div.form label[id$=album] {float:left;}
    div.form select[id$=album] {float:left;}
    div.form input[id$=private] {float:right;}
    div.form label[id$=private] {float:left;clear:both;}
    div.form div[id$=tags] {clear:both;}
</style>
{% endblock %}

