{% extends "mimesis/base.html" %}

{% load thumbnail %}

{% block body %}
    <div class="large-photo">
        <a href="{% url mimesis_photo photo.prev.id %}">
            <img src="{% thumbnail photo.prev.photo.name 128x128 crop %}"
                 alt="{{ photo.prev.name }}"/>
        </a>
        <a href="{% url mimesis_photo photo.next.id %}">
            <img src="{% thumbnail photo.photo.name 640x480 %}"
                 alt="{{ photo.name }}" />
        </a>
        <a href="{% url mimesis_photo photo.next.id %}">
            <img src="{% thumbnail photo.next.photo.name 128x128 crop %}"
                 alt="{{ photo.next.name }}"/>
        </a>
    </div>
{% endblock %}