{% extends "mimesis/base.html" %}

{% load thumbnail %}
{% load uni_form_tags %}

{% block body %}
    <h1>Uploaded Photos</h1>

    <form action="." method="POST" accept-charset="utf-8">
        {% csrf_token %}
        
        {{ photo_forms.management_form }}
        
        {% for photo_form in photo_forms.forms %}
            <div class="new-upload">
                <div class="photo">
                    <img src="{% thumbnail photo_form.instance.photo.name 320x320 %}"
                         alt="{{ photo_form.instance.name }}" />
                </div>
                
                <div class="form">
                    {{ photo_form|as_uni_form }}
                </div>
            </div>
        {% endfor %}

        <p style="clear:both;">
            <input type="submit" value="Continue &rarr;">
        </p>
    </form>

    <br style="clear: both;"/>
{% endblock %}